
<div class="overlay">
  <div class="overlay-content-wrapper">
    <div class="overlay-header">
      <h2>Titel</h2>
      <span class="badge status-active">Status</span>
      <button class="close-button">x</button>
    </div>
    <div class="overlay-content">
      <div class="info-item">
        <span class="label">Label</span>
        <a class="link" href="">Link</a>
      </div>
      <div class="info-item">
        <span class="label">Label</span>
        <span class="value">Value</span>
      </div>
      <div class="info-item col">
        <span class="label">Label vertikal</span>
        <span class="value">Value</span>
      </div>
      <div class="info-item col">
        <span class="label">Label mit Button</span>
        <button type="button" class="btn-icon">Bild</button>
      </div>
      <div class="overlay-actions">
        <button type="button" class="btn-primary">prim</button>
        <button type="button" class="btn-red">red</button>
        <button type="button" class="btn-green">green</button>
      </div>
    </div>
  </div>
</div>
