<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }} | SD Monitor</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_.css') }}">
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/_builder.js') }}"></script>
</head>
<body>
    <header class="main-header">
        <div class="header-left">
            <div class="logo-wrapper">
                <img src="{{ url_for('static', filename='img/handshake.png') }}" 
                    alt="Logo" 
                    class="logo default-logo">
                <img src="{{ url_for('static', filename='img/handshake_hover.png') }}" 
                    alt="Logo Hover" 
                    class="logo hover-logo">
            </div>
        <h1 class="site-title">SD Monitor</h1>
        </div>

        <div class="header-center">
            
        </div>

        <div class="header-right">
            <nav class="nav-links">
                <a href="/">Dashboard</a>
                <a href="/tasks">Mein Bereich</a>
                <a href="http://dashboard/" target="_blank" rel="noopener noreferrer">Reports</a>
                <a href="/users">Userverwaltung</a>
                <a href="/systems">Systemverwaltung</a>
            </nav>
            <div class="profile-dropdown">
                <img src="{{ url_for('static', filename='img/account_icon.png') }}" alt="Profil" class="profile-icon" id="profile-icon">
                <div id="dropdown-menu" class="dropdown-menu hidden">
                    {% if current_user.is_authenticated %}
                    <a href="/account">Account</a>
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Flash messages -->
        {% with flash_messages = get_flashed_messages(with_categories=true) %}
        {% if flash_messages %}
            <div class="flash-messages">
            {% for category, f_message in flash_messages %}
                <div class="alert alert-{{ category }}">
                {{ f_message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Servodata</p>
    </footer>
</body>
</html>
