{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/page_w_table.css">
{% endblock %}

{% block scripts %}
<script src="/static/js/rollenmanagement.js"></script>
{% endblock %}

{% set page_title = "Rollenmanagement" %}

{% block content %}
<div class="page-container">

    <!-- Top Bar -->
    <div class="top-bar">
        <div class="top-bar-main">

            <div class="filter-container">
                <button id="filter-btn">Filter</button>

                <div id="filter-dropdown" class="filter-dropdown">
              
                </div>

                <!-- Subfilter -->
                <div id="subfilter-dropdown" class="subfilter-dropdown">
                    <!-- wird dynamisch gefüllt -->
                </div>
            </div>

            <h2 class="top-bar-title">Rollen</h2>

            <!-- kein Action Button -->
            <div></div>
        </div>

        <!-- Aktive Filter -->
        <div class="filter-tags" id="active-filters"></div>

        <!-- Suche -->
        <div class="search-field" style="margin-top:8px; width: 60%;">
            <input
                type="text"
                id="search-input"
                placeholder="Suche nach Rollenname oder ID..."
            >
        </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper">
        <table id="rbac-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Typ</th>
                    <th>Erbt von</th>
                    <th>Ressourcen</th>
                    <th>Zuweisungen / User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- wird dynamisch gefüllt -->

                <tr>
                    <td>HR Basisrolle</td>
                    <td>Hauptrolle</td>
                    <td>-</td>
                    <td>18</td>
                    <td>42</td>
                    <td>
                        <button class="btn btn-secondary">
                            Details
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>
{% endblock %}
